// Navigation code here
@import "variables.less";
@import "mixins.less";

.navbar {
    width: 100%;
    .flex(column, flex-start, center);
    flex-wrap: nowrap;
    background-color: @nav-bg;
    border-bottom: 1px solid @nav-border;
    margin-bottom: 2%;

    //STRETCH GOALS
    position: fixed;
    top: 0;
    opacity: 0.75;

    .nav-text {
        width: 100%;
        flex-wrap: nowrap;
        text-align: center;
        h1 {
            font-size: 4rem;
            margin: 0 auto;
            color: @header-font-color;
            padding: 2%;
        }
    }
    

    nav {
        // .flex(row, space-evenly, center);
        width: 60%;
        margin: 0 20%;
        .flex(row, space-between, center);
        flex-wrap: nowrap;
        // border: 1px solid red;

        @media @phone {
            width: 80%;
            margin: 0 auto;
            
        }

        a {
            .flex(row, space-between, center);
            text-decoration: none;
            font-family: @nav-font;
            font-size: 1.75rem;
            padding: 2% 5%;
            color: black;

            &:hover {
                color: @river-bend;
            }

            @media @phone {
                // border: 1px solid red;
                .flex(row, space-between, center);
                flex-wrap: nowrap;
                padding: 2%;
            }

        }
    }
}